.header {
  /* width: 100vw;*/
  height: 50px;
  font-size: 2rem;
  grid-area: h;
  grid-template-columns: 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* position: absolute;
  left: 0;
  top: 0; */
  background-color: #26a1f7;
}
