.blank {
  width: 55vw;
  /* border: 2px solid black; */
  /* box-shadow: 0 10px 6px -6px #777; */
  /* box-shadow: 2px 4px 17px 0px rgba(119, 119, 119, 1); */
  box-shadow: 1px 2px 12px -2px rgb(119, 119, 119);
  /* align-self: flex-end; */
  /* justify-self: right; */
}
.commentsBody {
  margin-bottom: 40px;
}
.container {
  margin-top: 10px;
  display: grid;
  justify-items: center;
}
.gridContainer {
  display: grid;
  gap: 15px;
  justify-items: end;
}
/* display: flex;
flex-direction: row; */
/* 
display: grid;
gap: 10px; 
*/
